
<div class="main-container">
  <div class="custom-banner">
    <img src="{{ section.settings.image | image_url }}" class="mob-none">
    {% if  section.settings.mobileimage != null %}
      <img src="{{ section.settings.mobileimage | image_url }}" class="desk-none">
      {% endif %}
  </div>
</div>
<style>
    @media only screen and (max-width: 600px) {
      .mob-none {
        display:none !important;
      }
    }
  .custom-banner img {
    width: 100%;
}
  .main-container {
    width: 100%;
}
  
</style>
{% schema %}
  {
    "name": "Custom banner",
    "settings": [
       {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
       {
      "type": "image_picker",
      "id": "mobileimage",
      "label": "t:sections.image-with-text.settings.image.label"
    }
    ],
    "presets": [
      {
        "name":"custom-banner"
      }
    ]
  }
{% endschema %}