<div class="custom-section">
  <div class="custom-grid">
  
    <div class="grid-text">
      
      <div class="custom-text">
        <h2>Custom Heading</h2>
        <p>This is the custom text content for the section.</p>
      </div>
    </div>
      <div class="grid-image">
         <img src="https://cdn.shopify.com/s/files/1/0885/9539/8958/files/Frame_2.png?v=1720036330" alt="Custom Image" class="custom-image">
    </div>
  </div>
</div>

<style>
  .custom-section {
    padding: 0px 20px;
    background-color: #f9f9f9;
  }
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .grid-image, .grid-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-image {
    width: 100%;
    height: auto;
    display: block;
  }
  .custom-text {
    text-align: left;
  }
</style>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {
        "name":"Custom-Text-and-banner"
      }
    ]
  }
{% endschema %}