<style>
  .custom-banner img {
    width: 100%;
}
  .container {
    width: 100%;
}
</style>
<div class="container">
  <div class="custom-banner">
    <img src="{{ section.settings.image | image_url }}">
  </div>
</div>
{% schema %}
  {
    "name": "Custom banner",
    "settings": [
       {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    }
    ],
    "presets": [
      {
        "name":"custom-banner"
      }
    ]
  }
{% endschema %}