<div class="container">
  <div class="custom-banner">
    <img src="{{ section.settings.image }}"
  </div>
</div>
{% schema %}
  {
    "name": "Custom banner",
    "settings": [],
    "presets": [
      {
        "name":"custom-banner"
      }
    ]
  }
{% endschema %}