<div class="main-container">
  <div class="grid-products">
    {% for block in section.blocks %}
        {% if block.type == 'product' %}
    <div class="product-items">    
          {% render 'product-custom-popup',
            card_product: block.settings.product
          %}   
    </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<style>
  .grid-products {
    display: flex !important;
    flex-wrap: wrap;
}
 .product-items {
    width: 32%;
    margin: 10px auto !important;
}
  .grid-products {
    padding: 83px;
}
</style>
{% schema %}
{
  "name": "Grid Column Section",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "label": "Show Secondary Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "grid-column-section"
    }
  ]
}
{% endschema %}
