<div class="main-container">
  <div class="grid-products"></div>
</div>
{% schema %}
  {
    "name": "Grid Column Section",
    "settings": [],
     "presets": [
      {
        "name":"grid-column-section"
      }
     ]
  }
{% endschema %}