<div class="main-container">
  <div class="grid-products">
    <div class="product-items">
              {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
              {% render 'card-product',
                card_product: block.settings.product,
                media_aspect_ratio: 'adapt',
                show_secondary_image: block.settings.second_image,
                extend_height: true,
                placeholder_image: placeholder_image,
                skip_styles: skip_card_product_styles
              %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Grid Column Section",
    "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        }
      ]
    }
  ],
     "presets": [
      {
        "name":"grid-column-section"
      }
     ]
  }
{% endschema %}