<div class="main-container">
  <div class="grid-products">
    <div class="product-items">
     
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Grid Column Section",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "label": "Show Secondary Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "grid-column-section"
    }
  ]
}
{% endschema %}
