<div class="main-container">
  <div class="grid-products">
    <div class="product-items">
      <h1>jjjj</h1>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Grid Column Section",
    "settings": [],
     "presets": [
      {
        "name":"grid-column-section"
      }
     ]
  }
{% endschema %}